/* overall */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*  */

/* body */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*  */

/* header */
header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    align-items: center;
    box-shadow: 5px 5px 200px 15px black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: rgb(255, 255, 255);
    gap: 6rem;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.icone img {
    border-radius: 15px;
}
/*  */

/* footer */
footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 8vh;
    font-size: 14px;
    width: 100%;
    line-height: 6vh;
}
/*  */

/* screen adaptation */
@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    footer {
        flex-direction: column;
        padding: 2rem 0.5rem;
        height: auto;
        text-align: center;
        gap: 2rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        display: none;
    }
}
/*  */

/* title */
.title {
    text-align: center;
    color: #d8d8d8;
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
/*  */

/* text */
.rules {
    color: #d8d8d8;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*  */