/* Réinitialisation des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style du bandeau noir */
.black-bar {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

/* Style des icônes */
.icon {
    height: 30px;
    margin-right: auto;
}
.icon1{
    height: 30px;
    margin-left: auto;
}

/* Style du titre Tic-Tac-Toe */
h1 {
    font-size: 30px;
    font-family: "OCR A Std", monospace;
    margin: 0 auto;
}

/* Style du titre Welcome to Tic-Tac-Toe */
h2 {
    font-size : 50px;
    font-family: "Stencil Std", fantasy;
    text-align: center;
}




.pseudo button {
    cursor: pointer;
}

.rules button {
    cursor: pointer;
}

body {
    /* background-image: url('/picture/fond4.jpg'); */
    /*background-attachment: fixed;
     background-position: center;
    background-repeat: no-repeat;
    margin: 0%;
    width: 100%;
    height: 200%;
    background-color: linea; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.rectangle-pseudo {
    width: 300px;
    height: 200px;
    background-color: #ccc;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
}

.upseudo-not-used {
    margin: 20px;
}

.pseudo-not-used input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto;
}

.pseudo-not-used button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

/*  */

.pseudo-form-used {
    margin: 20px;
}

.pseudo-form-used input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto;
}

.pseudo-form-used button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

.pseudo-form-used button:hover {
    background-color: #010305;
    margin: 0 auto;
}


