<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/static/index-style.css">
    <style>
        body {
            background-image: url('/picture/fond3.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <header class="black-bar">
        <img src="../picture/joueur.jpg" class="icon"/>
        <h1>Tic-Tac-Toe</h1>
        <img src="../picture/icon.jpg" class="icon1">
        <br><br>
    </header>
    <main>
        <br><br>
        <h2>Welcome to Tic Tac Toe !</h2>
        <div class="start-game">
            <button>Start the Game</button>
        </div>
    </main>
    <footer>
        <img src="../picture/fond3.jpg" class="footer">
    </footer>
</body>
</html>
