<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/static/pseudo-style.css">

</head>
<body>
        <header class="black-bar">
            <a href="http://localhost:8080/pseudo"><button type="button"> <img src="../picture/utilisateur1.png" class="icon"/></button></a>
            <h1>Tic-Tac-Toe</h1>
            <a href="http://localhost:8080/rules"><button type="button"> <img src="../picture/iconvf.png" class="icon1"></button></a>
</body>
            <br><br>
        </header>
        <main>
            <br><br>
                <div class="rectangle-pseudo">

                    <p>Pseudo</p>

                    <form class="pseudo-not-used">
                        <input type="text" id="username" name="username" placeholder="enter your nickname">
                    </form>
                    <br><br>

                    <p>Confirm Pseudo</p>

                    <form class="pseudo-form-used">
                        <input type="text" id="username" name="username" placeholder="enter your nickname">
                        <br><br>
                        <button><a href="http://localhost:8080/game2"><strong>validate</strong></a></button>
                    </form>
            </div>
        </main>
</body>
</html>