<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/static/rules-style.css">

</head>
<body>
        <header class="black-bar">
            <a href="http://localhost:8080/pseudo"><button type="button"> <img src="../picture/utilisateur1.png" class="icon"/></button></a>
            <h1>Tic-Tac-Toe</h1>
            <a href="http://localhost:8080/rules"><button type="button"> <img src="../picture/iconvf.png" class="icon1"></button></a>
</body>
            <br><br>
        </header>
        <main>
            <br><br>
            <div class="rules"><h2>Comment jouer au morpion ?</h2>
    <p>Pour jouer une partie de morpion, il suffit de tracer sur une feuille blanche une grille de 3 cases sur 3 (selon les variantes, 
        il est possible d’augmenter le nombre de cases). Le but du jeu est d’aligner avant son adversaire 3 symboles identiques horizontalement, verticalement ou en diagonale. 
        Chaque joueur a donc son propre symbole, généralement une croix pour l’un et un rond pour l’autre. La partie se termine quand 
        l’un des joueurs à aligner 3 symboles ou quand la grille est complétée sans vainqueur. Il y a alors égalité.</p>

    <h2>Comment gagner une partie de Morpion ?</h2>
    <p>Le premier joueur a aligner 3 symboles identiques gagne la partie. Attention, le joueur qui débute est toujours avantagé pour gagner. Pensez donc à alterner !</p>

    <h2>Contexte</h2>
    <p>Vous jouez contre l'ordinateur : le Robot (méchant). Maintenant que vous connaissez les règles du jeu et que vous savez comment gagner, essayez de battre le robot comme si votre vie en dépendait.</p></div>

    <div class="start-game">
        <button><a href="http://localhost:8080/game2"><strong>play</strong></a></button>
    </div>
</main>


</body>
</html>